.pages-header{
  background-color: rgba(24, 24, 24, 0.856);
  position: fixed;
  top:0;
  left: 0;
  right: 0; 
  height: 86px;
}

.header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and ( max-width: 360px ){
  .pages-header{
    background-color: rgba(24, 24, 24, 0.856);
    position: fixed; 
    top:0;
    left: 0;
    right: 0; 
    height: 86px;
    width: 100%; 
  }
}

@media (max-width: 767px) {
  /* .pages-header{
    background-color: rgba(24, 24, 24, 0.856);
    position: fixed; 
    top:0;
    left: 0;
    right: 0; 
    height: 86px;
    width: 100%; 
  } */
}