fieldset{
  border: 0px;
  background-color: rgba(24, 24, 24, 0.856);
  height: 200px;
  width: 74%;
  border-radius: 15px;
  position: fixed;
  margin-top:220px;
  left: 8%;
}

.error{
  position: fixed;
  margin-top:205px;
  left: 8%;
  border-radius: 15px;
  height:210px;
  width:1050px;
}

.content{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

svg{
  cursor: pointer;
}

input{
  border-radius: 6px;
  border: 1px solid #dfe1e5;
  color: #70757a;
  font-size: 14px;
  height: 36px;
  padding: 0 0 0 12px;
  outline: none;
}


input + select,
select + button,
button + select{
  margin-left: 15px;
} 

button{
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  border: 1px solid #dfe1e5;
  color: #70757a;
  font-size: 14px;
  height: 36px;
  width: 150px;
  padding: 0 0 0 12px;
  outline: none;
  cursor: pointer;
}

button:hover {
  border-radius: 6px;
  border: 1px solid #888b8f;
  color: #464749;
  font-size: 14px;
  height: 36px;
  padding: 0 0 0 12px;
  outline: none;
  cursor: pointer;
}

fieldset .footer{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: white;
  margin-top:15px
}



@media ( max-width: 1040px){
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    outline: none;
  }
  
  
  input + select,
  select + button,
  button + select{
    margin-left: 15px;
  } 
  
  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 140px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}

@media ( max-width: 960px){  
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    outline: none;
  }

  input + select,
  select + button,
  button + select{
    margin-left: 10px;
  } 
  
  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 140px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}

@media ( max-width: 920px){
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    outline: none;
  }

  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 140px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}

@media ( max-width: 900px){
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    padding: 0 0 0 12px;
    outline: none;
  }

  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 130px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}


@media ( max-width: 885px){
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 100px;
    padding: 0 0 0 12px;
    outline: none;
  }

  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 110px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}

@media ( max-width: 800px){
  .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
  }

  input{
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 80px;
    padding: 0 0 0 12px;
    outline: none;
  }

  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 100px;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}


@media ( max-width: 700px){
  fieldset{
    height: 320px;
  }

  .content{
    display: grid; 
    justify-content: center;
    margin-top: 25px;
    grid-row-gap: 7px;
  }

  input{
    height: 36px;
    width: 57vw;
    outline: none;
    margin-left: 10px;
  }
  
  button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #dfe1e5;
    color: #70757a;
    font-size: 14px;
    height: 36px;
    width: 60vw;
    padding: 0 0 0 12px;
    outline: none;
    cursor: pointer;
  }
}
